<div class="d-flex justify-content-center my-2">
    <!-- <button class="btn btn-secondary btn-sm mx-2" (click)="getBullishPullbackStocks()">多頭</button>
    <button class="btn btn-secondary btn-sm mx-2" (click)="getJumpEmptyStocks()">跳空</button> -->
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option1" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="option1" (click)="getBullishPullbackStocks()">多頭</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option2" (click)="getJumpEmptyStocks()">跳空</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option3" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option3" (click)="getOrganizedStocks()">均線排列整齊</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option4" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option4" (click)="getSandwichStocks()">強勢吞噬</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option5" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option5" (click)="getEpsIncreasingStocks()">財報好</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option6" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option6" (click)="getHighYieldStocks()">預測高殖利率</label>
    </div>
    <input class= 'mx-2' type="date" [(ngModel)]="selectedDate" />
</div>