<div class="d-flex justify-content-center my-2">
    <!-- <button class="btn btn-secondary btn-sm mx-2" (click)="getBullishPullbackStocks()">多頭</button>
    <button class="btn btn-secondary btn-sm mx-2" (click)="getJumpEmptyStocks()">跳空</button> -->
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option1" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="option1" (click)="getBullishPullbackStocks()">多頭</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option2" (click)="getJumpEmptyStocks()">跳空</label>
    </div>
    <div class="mx-2">
        <input type="radio" class="btn-check" name="strategy" id="option3" autocomplete="off">
        <label class="btn btn-outline-secondary" for="option3" (click)="getEpsIncreasingStocks()">財報好</label>
    </div>
</div>